@{
    ViewData["Title"] = "Home Page";
    var ListproductBestSeo = (List<ShopOnline.Model.ProductModel.ProductViewModel>)ViewBag.ListBestSeo;
    var listproductNewArrival = (List<ShopOnline.Model.ProductModel.ProductViewModel>)ViewBag.ListProductNewArrivals;
}
<!-- JTV Home Slider -->
<div class="jtv-slideshow">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div id='jtv-rev_slider_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                    <div id='jtv-rev_slider' class='rev_slider fullwidthabanner'>
                        <ul>
                            <li data-transition='fade' data-slotamount='7' data-masterspeed='1000' data-thumb='/admin-template-web/version2/images/slider/slide-img1.jpg'>
                                <img class="img-responsive" src="/admin-template-web/version2/images/slider/slide-img1.jpg" alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                                <div class="info">
                                    <div class='tp-caption jtv-sub-title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap; color:#393b7d;'><span>New Collection</span> </div>
                                    <div class='tp-caption jtv-large-title sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'><span style="color:#000;">Stylish Look</span> </div>
                                    <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1450' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap; color:#666;'>Beautiful templates from our creative community.</div>
                                    <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap; font-size:18px;'><a href='#' class="jtv-shop-now-btn">Shop Now</a> </div>
                                </div>
                            </li>
                            <li data-transition='fade' data-slotamount='7' data-masterspeed='1000' data-thumb='/admin-template-web/version2/images/slider/slide-img2.jpg'>
                                <img class="img-responsive" src="/admin-template-web/version2/images/slider/slide-img2.jpg" alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                                <div class="info">
                                    <div class='tp-caption jtv-sub-title sft slide2  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;padding-right:0px; color:#999;'><span>On Day Sale!</span> </div>
                                    <div class='tp-caption jtv-large-title sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap; color:#393b7d;'>New Arrivals</div>
                                    <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>A Perfect template to start selling your products.</div>
                                    <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='#' class="jtv-shop-now-btn">Order now</a> </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end JTV Home Slider -->
            <div class="col-md-3 col-sm-12">
                <div class="jtv-text-top-banner col-sm-6 col-md-12">
                    <a href="/#" title="">
                        <img class="img-responsive" src="/admin-template-web/version2/images/banner-img1.jpg" alt=""> <span class="jtv-b-content bottom-left">
                            <span class="title">
                                <span class="title-color">Mens</span><br>
                                <span class="black-text">Collection</span>
                            </span> <span class="text">Never Miss a Second</span> <span class="btn-buy"><span>Buy now</span></span>
                        </span> <span class="jtv-b-price-box"> <span class="banner-text-wrapper"> <span class="jtv-b-price-text">From</span> <span class="jtv-b-price">$99</span> </span> </span>
                    </a>
                </div>
                <div class="jtv-text-top-banner col-sm-6 col-md-12">
                    <a href="/#" title="">
                        <img class="img-responsive" src="/admin-template-web/version2/images/banner-img2.jpg" alt=""> <span class="jtv-b-content top-center">
                            <span class="title white-text">
                                Smart Phone<br>
                                Exclusively Available On
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our features -->
<div class="our-features-box hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="feature-box first">
                    <i class="pe-7s-piggy"></i>
                    <div class="content">
                        <h3>Reasonable pricing</h3>
                        <p>To establish a selling price for a product</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="feature-box">
                    <i class="pe-7s-timer"></i>
                    <div class="content">
                        <h3>Limited time offers</h3>
                        <p>Hurry up! You Don't want to miss This!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="feature-box">
                    <i class="pe-7s-headphones"></i>
                    <div class="content">
                        <h3>24/7 client support</h3>
                        <p>In order to provide 24X7 customer support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-page">
    <div class="container">
        <!-- Product Tabs-->
        <div class="category-product">
            <div class="navbar nav-menu">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a data-toggle="tab" href="#tab-1">New Arrivals</a> </li>
                        <li><a data-toggle="tab" href="#tab-2">Best Seller</a> </li>
                        <li><a data-toggle="tab" href="#tab-3">Latest Products</a> </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <div class="tab-container">
                <!-- tab product -->
                @for (int i = 0; i <=1; i++)
                {
                    var ren = "";
                    if (i == 0)
                    {
                        ren = "tab-panel active";
                    }
                    else
                    {
                        ren = "tab-panel";
                    }
                    <div class="@ren" id="tab-1">
                        <div class="category-products">
                            <ul class="products-grid">
                                @for (int j = 0; j < listproductNewArrival.Count(); j++)
                                {
                                    <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                       
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a class="product-image" title="Product Title Here" href="single_product.html"> <img class="img-responsive" alt="Product Title Here" src="@listproductNewArrival[j].PathImage"> </a>
                                                    <div class="action"> <a href="compare.html" title="Compare"><i class="fa fa-signal"></i></a> <a href="/Product/ProductDetail/@listproductNewArrival[j].Id" title="Quick view"><i class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i class="fa fa-heart-o"></i></a> <a href="shopping_cart.html" title="Add to cart"><i class="fa fa-shopping-cart"></i></a> </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a title="Product Title Here" href="/Product/ProductDetail/@listproductNewArrival[j].Id">@listproductNewArrival[j].Name </a> </div>
                                                    <div class="item-content">
                                                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                        <div class="item-price">
                                                            <div class="price-box"> <span class="regular-price"> <span class="price">$95.00</span> </span> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                }
                                
                            </ul>
                        </div>
                    </div>
                }
                <!-- tab product -->
                

            </div>
        </div>
    </div>
</div>
<!-- jtv bottom banner section -->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="jtv-text-top-banner">
                <a href="/#" title="">
                    <img class="img-responsive" src="/admin-template-web/version2/images/banner-img3.jpg" alt=""> <span class="jtv-b-content middle-left">
                        <span class="title">
                            <span class="skincolor">Incredible Audio</span><br>
                            <small>The Essence of Sound</small>
                        </span><span class="btn-buy"><span>Shop now</span></span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="jtv-text-top-banner">
                <a href="/#" title="">
                    <img class="img-responsive" src="/admin-template-web/version2/images/banner-img4.jpg" alt=""> <span class="jtv-b-content middle-left">
                        <span class="banner-label-wrapper"></span> <span class="title">
                            <span class="title-color">iMac Refresh Arriving</span><br>
                            <small>A touch of genius</small>
                        </span><span class="btn-buy"><span>Buy now</span></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- bestsell Slider -->
<section class="jtv-bestsell-section">
    <div class="container">
        <div class="slider-items-products">
            <div class="bestsell-block">
                <div class="jtv-block-inner">
                    <div class="block-title">
                        <h2>Best Sellers</h2>
                    </div>
                </div>
                <div id="bestsell-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col4 products-grid block-content">
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a class="product-image" title="Product Title Here" href="single_product.html"> <img class="img-responsive" alt="Product Title Here" src="/admin-template-web/version2/images/products/img01.jpg"> </a>
                                        <div class="action"> <a href="compare.html" title="Compare"><i class="fa fa-signal"></i></a> <a href="quick_view.html" title="Quick view"><i class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i class="fa fa-heart-o"></i></a> <a href="shopping_cart.html" title="Add to cart"><i class="fa fa-shopping-cart"></i></a> </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
                                        <div class="item-content">
                                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$225.00</span> </span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @foreach (var product in ListproductBestSeo)
                        {
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a class="product-image" title="Product Title Here" href="single_product.html"> <img class="img-responsive" alt="Product Title Here" src="@product.PathImage"> </a>
                                            <div class="action"> <a href="compare.html" title="Compare"><i class="fa fa-signal"></i></a> <a href="/Product/ProductDetail/@product.Id" title="Quick view"><i class="fa fa-search"></i></a> <a href="wishlist.html" title="Wishlist"><i class="fa fa-heart-o"></i></a> <a href="shopping_cart.html" title="Add to cart"><i class="fa fa-shopping-cart"></i></a> </div>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"> <a title="Product Title Here" href="/Product/ProductDetail/@product.Id">@product.Name</a> </div>
                                            <div class="item-content">
                                                <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                <div class="item-price">
                                                    <div class="price-box"> <span class="regular-price"> <span class="price">$99.00</span> </span> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Bestsell Slider -->
<!-- Latest Blog -->
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12" data-wow-delay="0.2s">
            <div class="jtv-testimonial-block">
                <div class="block-title">
                    <h2>Testimonial</h2>
                </div>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">

                        <!-- Quote 1 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. quis nostrud exercitation ullamco laboris nisi ut aliquip quis!</p>
                                        <div class="holder-info"> <strong class="name">Vince Roy</strong> <strong class="designation">CEO, XYZ Softwear</strong></div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Aliquam convallis vulputate augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a dolor dictum, dapibus libero eu, malesuada nulla. Aliquam convallis vulputate augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a dolor dictum, dapibus libero eu, malesuada nulla. Aliquam convallis vulputate augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a dolor dictum. </p>
                                        <div class="holder-info"><strong class="name">John Doe</strong> <strong class="designation">CEO, ABC Softwear</strong></div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Integer scelerisque diam vitae aliquam fringilla. In vitae eros ac libero mattis molestie nec in magna. Aliquam sollicitudin urna nec felis blandit sodales. In adipiscing leo magna, a vehicula mi convallis ac. Vivamus volutpat, ante nec congue dictum, ipsum odio consequat justo, consectetur dignissim enim sapien ut nulla. Nunc massa ligula, fermentum sed nisl sed, lacinia vestibulum mi.</p>
                                        <div class="holder-info"> <strong class="name">John Doe</strong> <strong class="designation">Managing Director</strong></div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0"><img class="img-responsive" class="img-responsive " src="/admin-template-web/version2/images/testimonials-img1.jpg" alt=""> </li>
                        <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" class="img-responsive" src="/admin-template-web/version2/images/testimonials-img2.jpg" alt=""> </li>
                        <li data-target="#quote-carousel" data-slide-to="2" class="active"><img class="img-responsive" class="img-responsive" src="/admin-template-web/version2/images/testimonials-img3.jpg" alt=""> </li>
                    </ol>
                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a> <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
            <div class="blog-outer-container">
                <div class="jtv-title">
                    <h2>Latest Blog</h2>
                </div>
                <div class="blog-inner">
                    <div class="col-sm-6">
                        <div class="entry-thumb"> <a href="blog_single_post.html"> <img class="img-responsive" alt="Blog" src="/admin-template-web/version2/images/blog-img1.jpg"> </a> </div>
                        <div class="blog-preview_info">
                            <h3><a href="blog_single_post.html">Winter Morning ShopMart</a></h3>
                            <ul class="post-meta">
                                <li><i class="fa fa-user"></i><a href="#">admin</a> </li>
                                <li><i class="fa fa-comments"></i><a href="#">12 comments</a> </li>
                                <li><i class="fa fa-calendar"></i>2017-02-25</li>
                            </ul>
                            <div class="blog-preview_desc">In adipiscing leo magna, a vehicula mi convallis ac. Vivamus volutpat, ante nec congue dictum.</div>
                            <a class="blog-preview_btn" href="blog_single_post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="entry-thumb"> <a href="blog_single_post.html"> <img class="img-responsive" alt="Blog" src="/admin-template-web/version2/images/blog-img1.jpg"> </a> </div>
                        <div class="blog-preview_info">
                            <h3><a href="blog_single_post.html">Perfect for promoting</a></h3>
                            <ul class="post-meta">
                                <li><i class="fa fa-user"></i><a href="#">admin</a> </li>
                                <li><i class="fa fa-comments"></i><a href="#">45 comments</a> </li>
                                <li><i class="fa fa-calendar"></i>2017-04-05</li>
                            </ul>
                            <div class="blog-preview_desc">Nam a dolor dictum, dapibus libero eu, malesuada nulla. Aliquam convallis vulputate augue.</div>
                            <a class="blog-preview_btn" href="blog_single_post.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Latest Blog -->
<!-- Brand Logo -->

<div class="brand-logo">
    <div class="container">
        <div class="slider-items-products">
            <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col6">

                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand3.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand1.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand2.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand4.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand5.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand6.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand2.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand4.png" alt="Image"> </a> </div>
                    <!-- End Item -->

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="jtv-text-top-banner">
                <a href="/#" title="">
                    <img class="img-responsive" src="/admin-template-web/version2/images/banner-img6.jpg" alt=""> <span class="jtv-b-content top-left">
                        <span class="banner-label-wrapper">
                            <span class="banner-label small pink-bg">
                                25%<br>
                                <em>off</em>
                            </span>
                        </span>
                    </span> <span class="jtv-b-content bottom-left">
                        <span class="text">Only in our store</span> <span class="title">
                            <span class="black-text">Special Offer</span><br>
                            <small>Exclusive Savings</small>
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jtv-text-top-banner">
                <a href="/#" title="">
                    <img class="img-responsive" src="/admin-template-web/version2/images/banner-img8.jpg" alt=""> <span class="jtv-b-content top-center">
                        <span class="title">
                            <span class="black-text">Smart Camera</span><br>
                            <small>Superior Image Quality</small>
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jtv-text-top-banner">
                <a href="/#" title="">
                    <img class="img-responsive" src="/admin-template-web/version2/images/banner-img7.jpg" alt=""> <span class="jtv-b-content middle-center"> <span class="strong-title">45% OFF</span> </span> <span class="jtv-b-content bottom-center">
                        <span class="text-left">
                            <span class="media-body text-right">
                                <span class="subtitle skincolor">
                                    Best<br>
                                    Headphones
                                </span>
                            </span>
                        </span>
                    </span> <span class="jtv-b-price-box"> <span class="banner-text-wrapper"> <span class="jtv-b-price-text">From</span> <span class="jtv-b-price">$29</span> </span> </span>
                </a>
            </div>
        </div>
    </div>
</div>